autokeras
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-pasta
google-resumable-media
googleapis-common-protos
keras-tuner @ git+https://github.com/keras-team/keras-tuner.git@b9f314cde07ec6d54fdf5c7db1cd8f2c76ac53e6
numpy
opencv-python
pandas
scikit-learn
sklearn
tensorflow-gpu
